
<%= form_with(model: snow) do |form| %>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="myModalLabel">Snow</h4>
</div>
<div class="modal-body">
  <%= form.text_field :water %>
</div>
<div class="modal-footer">
  <%= form.submit %>
</div>
<% end %>
