<p id="notice"><%= notice %></p>

<h1><br>Snow is comprised of this shit \/ \/ \/ </h1>

    <ul class="list-group">
      <li class="d-flex w-100 justify-content-between"><%= render 'snow' %></li>
    </ul>
<br>
<br>
<%= link_to 'New Snow', new_snow_path, class: "btn btn-primary" %>

<h2> Fire is Fire </h2>
    <ul class="list-group">
      <li class="d-flex w-100 justify-content-between"><%= render 'fire/fire' %></li>
    </ul>
