<p id="notice"><%= notice %></p>

<h1><br>Snows</h1>

    <ul class="list-group">
      <li class="d-flex w-100 justify-content-between"><%= render 'snow' %></li>
    </ul>
<br>

<%= link_to 'New Snow', new_snow_path, class: "btn btn-primary" %>
