
<div class="card" style="width: 53%">
  <div class="card-body">
    <h5 class="card-title">Fire Partial </h5>

    <iframe src="https://www.youtube.com/embed/OZ_xhkg32nk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     <footer> aids </footer>
     <h> one little tree times two equils three. lol or not thats a lot </h>
  <div>
</div>
