<h1> this is the partial _fire page add a help area here </h1>


<i> after shit add a news area  </i>
<<<<<<< HEAD
<%= fire.text_field :text %>
<%= fire.submit %>
=======
>>>>>>> 106f4973836b07bbc5e8aface0039cec3d3509d2
