
<div class="card" style="width: 50%">
  
  <div class="card-body">  
    <h5 class="card-title">Fire Partial </h5>
    <p>top</p>
    <iframe src="https://www.youtube.com/embed/OZ_xhkg32nk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>pizza</p>
  <div>
</div>
