<h1> this is the partial _fire page add a help area here </h1>

  <% @fire.each do |fire| %>
      <%= fire.coal %>
      <%= link_to 'Delete', fire, method: :delete, data: { confirm: 'Are you sure?' }%>

  <% end %>
